<ons-navigator
        title="各種設定"
        left-button-icon="fa fa-2x fa-times"
        on-left-button-click="ons.screen.dismissPage()">
    <ons-page>

        <section ng-controller="SettingCtrl">
            <ons-list>
                <h3 class="topcoat-list__header">iBeaconの設定</h3>
                <ons-list-item class="topcoat-list__item__line-height">
                    <div class="space-top">
                        <i class="fa fa-bullseye fa-lg" style="color: #666"></i> UUID:<br/>
                        <ons-text-input
                                ng-model="setting.uuid">
                        </ons-text-input>
                    </div>
                </ons-list-item>
                <ons-list-item class="topcoat-list__item__line-height">
                    <div class="space-top">
                        <i class="fa fa-arrows-h fa-lg" style="color: #666"></i> 通知するまでの距離:<br/>
                        <ons-select ng-model="setting.proximity">
                            <option value="immediate">とても近い</option>
                            <option value="near">近い</option>
                            <option value="far">遠い</option>
                        </ons-select>
                    </div>
                </ons-list-item>
                <ons-list-item class="topcoat-list__item__line-height">
                    <button class="topcoat-button" ng-click="reset()">リセット</button>
                    <button class="topcoat-button--cta" ng-click="save(setting);ons.screen.dismissPage()">保存</button>
                </ons-list-item>
            </ons-list>
        </section>
    </ons-page>
</ons-navigator>
